.notifications-page,
.transactions-page,
.budget-page {
    padding: 20px;
}

.card-layout {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    flex: 1 1 calc(30% - 20px);
    min-width: 200px; /* minimum width for smaller screens */
}
